// @media only screen and (min-width: 1201px) {} /*Normalne ekrany*/
// @media only screen and (min-width: 481px) and (max-width: 1200px) { }/*Mniejsze ekrany*/
// @media only screen and (min-width: 321px) and (max-width: 480px) {}/*Telefony poziomo*/
// @media only screen and (max-width: 320px){} /*Telefony pionowo*/

@media only screen and (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }
  #contact {
    div.page-width {
      flex-direction: column;
      ul {
        .icon {
          width: 6em;
          align-items: center;
        }
      }
    }
  }
  .go-to-top {
    visibility: none;
    display: none;
    opacity: 0;
  }

  nav, .menuToggle {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 580px) {
  ul.tags-container li .caption {
      font-size: 0.8em;
  }
  section#portfolio-section .ie {
    font-size: 0.7em;
  }
  #contact {
    ul {
      li {
        font-size: 0.7em;
      }
    }
  }
}

@media only screen and (max-width: 320px){ /*Telefony pionowo*/
  section.header {
    padding: 3em 0;
  }
  section p, footer {
    font-size: 0.78em;
    text-align: justify;
  }
  #skills-section {
    li {
      .caption {
        font-size: .6em;
      }
    }
  }
  #contact {
    div.page-width {
      width: 100%;
      ul {
        li {
          font-size: 0.6em;
          div.icon {
            font-size: 1em;
          }
        }
      }
    }
  }
}

