//flat colors
$red:       #e74c3c;
$orange:    #e67e22;
$green:     #2ecc71;
$blue:      #3498db;
$purple:    #8e44ad;

$almostblack: #252525;
$almostwhite: #eee;

$main: $blue;
$text-dark: $almostblack;
$text-white: $almostwhite;

