//main colors
$dark: 		#1f2732;
$light: 	   #f1f1eb;
$dark-gray:  lighten(#000, 8%);

//flat colors
$red:       #e74c3c;
$orange:    #e67e22;
$green:	   #2ecc71;
$blue:		#3498db;
$purple:	   #8e44ad;
